.foot {
    text-align: center;
}

.flex-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 2.5px 6px;
    cursor: pointer;
    margin-left: -9px;
    background-color: white;
    border: solid white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: rgb(9, 3, 125);


}

/* https://source.unsplash.com/1600x500/?shopping, ecommerce */